@page "/"
@using hombresYMujeresFacturan.Components.Data
@rendermode InteractiveServer
@inject Servicios.ServicioControlador ServicioControlador

<PageTitle>Home</PageTitle>

<h1>Crear una factura</h1>

<div>
    <p>Para crear una factura, haga clic en el botón de abajo:</p>
    <input type="date" placeholder="Fecha de facturacion" @bind="newFactura.fecha" class="form-control mb-2" />
    <input type="text" placeholder="Nombre del cliente" @bind="newFactura.cliente" class="form-control mb-2" />
    <input type="text" placeholder="Articulos" @bind="newFactura.articulos" class="form-control mb-2" />
    <button class="btn btn-primary" @onclick="crearFactura">Crear Factura</button>
</div>

<div>
    <h3>Facturas:</h3>
    <ul>
        @foreach(var f in facturas)
        {
            <li>@f.identificador - @f.cliente - @f.fecha - @f.articulos - @f.total</li>
        }
)
    </ul>
</div>

<div>
    <p>Para eliminar una factura introduzca el identificador y presione el boton de abajo: </p>
    <input type="int" placeholder="Identificador de la factura" @bind="newFactura.identificador" class="form-control mb-2" />
    
</div>

<div>
    <p>Para actualizar una factura, haga clic en el botón de abajo:</p>
    <input type="int" placeholder="Identificador de la factura" @bind="newFactura.identificador" class="form-control mb-2" />
    <input type="text" placeholder="Fecha de facturacion" @bind="newFactura.fecha" class="form-control mb-2" />
    <input type="text" placeholder="Nombre del cliente" @bind="newFactura.cliente" class="form-control mb-2" />
    <input type="text" placeholder="Articulos" @bind="newFactura.articulos" class="form-control mb-2" />
    <button class="btn btn-primary" @onclick="ActualizarFactura">Actualizar Factura</button>
</div>

@code{
    private List<factura> facturas = new List<factura>();
    private factura newFactura = new();
    private int t;


    private async Task crearFactura()
    {
        // Lógica para crear la factura

        if (!string.IsNullOrWhiteSpace(newFactura.cliente))
        {
            await ServicioControlador.AgregarFactura(newFactura);
            facturas = await ServicioControlador.ObtenerFacturas();
            newFactura = new factura();
        }

        Console.WriteLine($"Factura creada para {newFactura.cliente} en la fecha {newFactura.fecha} con los artículos: {newFactura.articulos}");
    }

    private async Task eliminarFactura()
    {
        // Lógica para eliminar la factura
        if (newFactura.identificador != null)
    {
            await ServicioControlador.EliminarFactura(newFactura.identificador, t =facturas.Count);
            facturas = await ServicioControlador.ObtenerFacturas();
            newFactura = new factura();
        }
        Console.WriteLine($"Factura eliminada con identificador: {newFactura.identificador}");
    }

    private async Task ActualizarFactura()
    {
        if (newFactura.identificador != null)
        {
            await ServicioControlador.ActualizarFactura(newFactura.identificador, newFactura.fecha, newFactura.cliente, newFactura.articulos, newFactura.total);
            facturas = await ServicioControlador.ObtenerFacturas();
            newFactura = new factura();
        }

    }

    protected override async Task OnInitializedAsync()
    {
        facturas = await ServicioControlador.ObtenerFacturas();

    }
}
